@charset "UTF-8";

.quemsomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.blocks {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.2fr));
    padding: 30px;
    align-items: end;
    margin-top: 150px;
}

.bloco {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

.bloco img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 3px;
}

.bloco p {
    font-size: 10px;
    text-align: center;
    color: rgb(5, 5, 5);
    margin: 2;
    font-weight: bold;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 50vh;
}

.about .esquerda img {
    display: grid;
    width: 120%;
    height: 65%;
    object-fit: cover;
}

.titulo-destaque {
    font-size: 1.5rem;
}

.titulo-destaque span {
    font-size: 3rem;
}

.bloco p {
    color: #007bff;
}