@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* Seção quem somos */
.quemsomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

/* Container dos blocos da equipe */
.blocks {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 0.2fr));
    padding: 30px;
    align-items: end; /* alinha no final */
    margin-top: 150px; /* empurra para baixo */
}

/* Cada membro da equipe */
.bloco {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
}

/* Foto do membro */
.bloco img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 3px;
}

/* Nome do membro */
.bloco p {
    font-size: 10px;
    text-align: center;
    color: #007bff;
    margin: 2;
    font-weight: bold;
}

/* Seção sobre o projeto */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 50vh;
}

/* Imagem do cachorro */
.about .esquerda img {
    display: grid;
    width: 120%;
    height: 65%;
    object-fit: cover;
}

/* Título com destaque */
.titulo-destaque {
    font-size: 1.5rem;
}

/* Parte azul do título */
.titulo-destaque span {
    font-size: 3rem;
}