@charset "UTF-8";

.forms{
    margin: auto;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}
.label{
    font-size: 2rem;
    display: block;
}
/* Por padrão, todas as seções do formulário estão escondidas */
.form-section {
    display: none;
}

/* A seção com a classe 'active' é exibida */
.form-section.active {
    display: block;
}
.form-group {
    text-align: center;
    margin: 15px 0;
}