@charset "UTF-8";

.redes{
    margin: auto;
    display: block;
    text-align: center;
    outline: 1px solid black;
    max-width: 50vw;
    padding-bottom: 50px;

    & .caixa{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        & .item{
            margin-top: 20px;
            flex-basis: 50px;
            width: 50px;
            height: 50px;
            background-color: lightblue;
        }
    }
}

.depoimentos {
    margin: auto;
    display: block;
    text-align: left;
    max-width: 70vw;
    outline: 1px solid black;
    margin-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;

    & h1{
        text-align: center;
    }

    & .dp {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        justify-items: center;
        column-gap: 5px;
        margin-top: 20px;
    }
    & .item{
            margin-top: 10px;
            width: 200px;
            height: 200px;
            background-color: lightblue;
            border-radius: 50%;
        }
}

.suporte {
    
    outline: 1px solid black;
    margin: auto;
    max-width: 70vw;
    height: 20vh;
    max-height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;
    & .sups{

        padding: 0;
    width: 100px;      /* aumente se quiser quadrados maiores */
    height: 120px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza verticalmente */
    align-items: center;     /* centraliza horizontalmente */
    text-align: center;

    }
}