@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(224, 117, 117);
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.menu-direita {
    position: absolute;
    top: 20px;
    right: 30px;
}

.menu-direita ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-direita a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.principal {
    display: grid;
    grid-template-columns: 53% 47%;
    margin: 0 10vw;

& .mapa {
        width: 800px;
        height: 500px;
        background-color: lightgreen;
    }

    & .dicas {
        padding-top: 40vh;
        margin-right: 20vw;
    }
}


.achados {
    & .head1 {
        background-color: rgb(119, 117, 255);
        padding: 10px;
    }
    & .lista {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
        & p {
            margin: 10px;
            background-color: lightgray;
        }
    }
}

.perdidos {
    & .head2 {
        background-color: rgb(255, 60, 60);
        padding: 10px;
    }
    & .lista {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
        & p {
            margin: 10px;
            background-color: lightgray;
        }
    }
}

.forms{
    margin: auto;
    padding: 20px;
    display: block;
    text-align: center;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    height: 50vh;
}



/* Cursor padrão do site */
body {
    cursor: url('../imagens/Pata1.png')18 18, auto;
}

/* Cursor ao passar sobre links */
a, button, [role="button"] {
    cursor: url('../imagens/Pata2.png')18 18, pointer;
}
