@charset "UTF-8";

.head {
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    width: 200px;               /* largura do card */
    height: 240px;              /* altura fixa do card */
    background: #333;           /* quadrado cinza/escuro */
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;        /* centraliza horizontalmente */
    justify-content: center;    /* centraliza verticalmente */
    gap: 8px;
}

.produto img {
    max-width: 100%;            /* não ultrapassa o card */
    max-height: 130px;          /* controla altura máxima */
    object-fit: contain;        /* mantém proporção sem cortar */
    display: block;
}

.prod-info {
    text-align: center;
    color: #fff;
    font-size: 0.95rem;
    line-height: 1.1;
}

.servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 0.7fr));
    max-width: 1000px;      /* Limita a largura máxima */
    margin: 0 auto;     /* Centraliza e afasta do topo/borda */
    padding: 40px 30px;    /* Espaçamento interno maior nas laterais */
    justify-content: center;
    gap: 76px;
    align-items: center;

    & .servico{
        background-color: lightgray;
        width: 25vw;
        height: 32vh;
    }
}